.comments-item{margin-bottom:10px;padding:10px;border:1px solid #ccc;border-radius:5px}
.comments-info{color:#666}
.comments-info,.comments-tools{font-size:80%}
.comments-username{color:#80000c}
#comments-error-message,#comments-forbidden-message{color:#f00}
#comments-success-message{color:#0bb100}
#comments-error-message,#comments-forbidden-message,#comments-success-message{margin:5px 0}
#comments-re-wrapper{margin-bottom:10px;font-size:80%}
.comments-body{margin:5px 0}
.comments-filed input[type="text"]{width:50%}
.comments-ok,.comments-error,.comments-re-wrapper{display:none}
